# SPDX-License-Identifier: GPL-2.0

menu "Enable LiteX SoC Builder specific drivers"

config LITEX_SOC_CONTROLLER
	tristate "Enable LiteX SoC Controller driver"
	help
	This option enables the SoC Controller Driver which detects
	endiannes of SoC, sets correct functions in litex.h in runtime
	and allow other LiteX drivers to initialise
	All drivers that use functions from litex.h must depend on
	LITEX_SOC_CONTROLLER

config LITEX_SUBREG_SIZE
	int "Size of a LiteX CSR subregister, in bytes"
	depends on LITEX_SOC_CONTROLLER
	range 1 4
	default 4 if 64BIT
	default 1 if !64BIT
	---help---
	LiteX MMIO registers (referred to as Configuration and Status
	regusters, or CSRs) are spread across adjacent subregisters of
	8 or 32 bits, located at MMIO addresses aligned to the CPU word
	width (32 or 64 bits). Use this to select the appropriate size
	(1 or 4 bytes) matching your particular LiteX build.

endmenu
